/* Commentire css*/
p{}
body{
	
	
}

h1{
	width: 900px;
	margin:auto;
	color:#2EAC9B;
	font-size:30pt;
	font-family:Verdana, sans-serif;
}


.fosnotp{
	text-align: justify;
	font-size:20pt;
	color:black;
	font-family:Palatino;

}

.kan{
	font-size:20pt;
		color:red;
}

.tp{
	font-size:17pt;
		color:black;
		text-align: justify;

	
}

.ger{
	font-size:20pt;
		color:red;
}

.mp{
	font-size:17pt;
		color:black;
		text-align: justify;

}

.tom{
	font-size:20pt;
		color:red;
}
.lp{
	font-size:17pt;
		color:black;
		text-align: justify;

	
}

.kev{
	font-size:20pt;
		color:red;
}

.kp{
	font-size:17pt;
		color:black;
		text-align: justify;

	
}

.ajouts{
	text-align: justify;
	font-size:20pt;
		color:black;
}

.constit{
	font-size:17pt;
		color:black;
	 margin-top:2px;
  margin-bottom:2px;
}

.div1{
width: 900px;
margin:auto;
font-size:17pt;
		color:black;
  
}
