/* Commentire css*/
p{}
body{
	
	
}

.premierp{
	
	
	font-size:50pt;
	text-align:center;
	
	
}

.univers1{
	
	border-radius:15px;
	color:red;
	font-size:20pt;
	font:Andalus;
	margin-top:20px;
    margin-left:200px;
    width:150px;
}

.telechargement{
	
	border-radius:15px;
	color:red;
	font-size:20pt;
	font:Andalus;
	margin-top:20px;
    margin-left:200px;
    width:150px;
	
}

.actualites{
	
	border-radius:15px;
	color:red;
	font-size:20pt;
	font:Arial;
	margin-left:200px;
    width:150px;
	
}

.cahierc{
	
	border-radius:15px;
	color:red;
	font-size:40pt;
	font:Franklin Gothic Heavy;
	
	
}

.contact{
	border-radius:15px;
	color:red;
	font-size: 25pt;
	font:	